@import url("./navbar.css");
@import url("./homepage.css");

.fc-brown {
    color:#74663E;
}

.ff-ss {
    font-family: Arial, Helvetica, sans-serif;
}

.h-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    body {
        background-size: 50%;
    }
}

