@import url("./navbar.css");
@import url("./homepage.css");
@import url("./body-text.css");
@import url("./accordion.css");
@import url("./grid.css");

.fc-brown {
    color:#74663E;
}

.ff-ss {
    font-family: Arial, Helvetica, sans-serif;
}

.h-center {
    text-align: center;
}

.m-0 {
    margin: 0px;
}

.outer-block {
    text-align: center;
}

.inline-block {
    display: inline-block;
}


@media (min-width: 768px) {
    body {
        background-size: 50%;
    }
}

